<app-header [title]="title"></app-header>
<div class="container">
  <div *ngIf="blogShow">
    <h1>
      {{title}}
    </h1>

    <div>
      <ul>
        <li>Name:{{user.name}}</li>
        <li>Job Title: {{user.job.title}}</li>
        <li>Campany: {{user.job.company}}</li>
      </ul>
    </div>
  </div>

  <!-- List -->
  <div *ngIf="usersListShow">
    <h3>Users name</h3>
    <ul>
      <li *ngFor="let user of usersList">
        {{user.name.first}} {{user.name.last}} @ {{user.company}}
        <span *ngIf="user.isActive" class="active">
          Active
        </span>
        <span *ngIf="!user.isActive" class="inactive">
          Inactive
        </span>
      </li>
    </ul>
  </div>

  <button (click)="toggleBlog()" class="btn btn-primary">
    {{ blogShow ? 'Hide Blog' : 'Show Blog' }}
  </button>

  <button (click)="toggleUsers()" class="btn btn-default">
    {{ usersListShow ? 'Hide Users' : 'Show Users' }}
  </button>
</div>
